.container{
    display: grid;
    grid-template-columns: 600px 607px;
    grid-column-gap: 40px;
    max-width: 1247px;
    margin: auto;
    padding: 0px 5px;
    background-size: cover;
    background-position: center;
}
    .image{
        position: relative;
        height: 600px;
        grid-column: 1/ 2;
    }
    .backBtn{
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .backBtn > div{
        margin-right: 10px !important;
    }
    .title{
        font-weight: 500;
        font-size: 45px;
        color: #333333;
        margin-bottom: 40px;
    }
    .block{
        padding: 12px 0px 30px 0px;
        border-top: 1px solid #C4C4C4;
    }
        .subBlock{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .subBlock h2{
                font-weight: 600;
                font-size: 24px;
                color: #333333; 
            }
            .subBlock p{
                font-weight: 400;
                font-size: 18px;
                color: #333333;
                display: flex;
                align-items: center; 
                cursor: pointer;
            }
            .miniContent{
                margin-top:6px;
                font-weight: 400;
                font-size: 18px;
                color: #333333;
                display: flex;
                align-items: center;
                max-width: 320px;
            }
            .price{
                font-weight: 400;
                font-size: 18px;
                color: #333333;
                display: flex;
                justify-content: space-between;
            }
            .description{
                display: none;
            }
            .map{
                width: 100%;
                /* max-width: 1247px; */
                height: calc(100vh - 200px);
            }

@media screen and (max-width: 1270px) {
    .container{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .description{
        display: block;
        color: #333333;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 30px;
    }
    .subBlock{
        display: block;
    }
    .subBlock h2{
        font-size: 20px;
        margin-bottom: 6px;
    }
    .subBlock p{
        margin-bottom: 6px;
        font-size: 20px;
    }
    .subBlock p:last-child{
        margin-bottom: 0px;
    }
    .title{
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .image{
        height: initial;
    }
    .image > img{
        width: 100%;

    }
    .price{
        display: flex;
        flex-direction: column;
    }
    .map{
        max-width: 300px;
        height: 400px;
    }
}