.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
}
  .eventsWrapper{
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      margin-bottom: 20px;
  }

@media screen and (max-width:1270px) {
  .eventsWrapper{
      grid-template-columns: repeat(3, 280px);
  }
}
@media screen and (max-width:980px) {
  .eventsWrapper{
      grid-template-columns: repeat(2, 280px);
  }
}
@media screen and (max-width:610px) {
  .eventsWrapper{
      grid-template-columns: 1fr;
  }
}